div.row
    datepicker.col-sm-4.filter(
        date-format='{{$ctrl.dateFormat}}'
        date-min-limit='{{$ctrl.dateBounds.start}}'
        date-max-limit='{{$ctrl.dateBounds.end}}'
    )
        input.form-control(
            ng-model='$ctrl.dateRange.start'
            placeholder='Date range start'
        )

    datepicker.col-sm-4.filter(
        date-format='{{$ctrl.dateFormat}}'
        date-min-limit='{{$ctrl.dateBounds.start}}'
        date-max-limit='{{$ctrl.dateBounds.end}}'
    )
        input.form-control(
            ng-model='$ctrl.dateRange.end'
            placeholder='Date range end'
        )

    div.col-sm-4.filter
        //- Wrap .form-control inputs in a div because .form-control sets width: 100%
        input.form-control(ng-model='$ctrl.animal' placeholder='Animal name')

table.table.table-hover.table-striped.session-table(infinite-scroll='$ctrl.nextPage()' infinite-scroll-distance='1')
    tr
        th Animal
        th Name
        th Start Date
        th Duration
        //- th Field of View
        th Samples
        th Imaging Rate
    tr(ng-repeat="session in $ctrl.sessions")
        td
            a(href='/session/{{session.id}}') {{session.animal}}
            a.material-icons.md-dark(
                href='#'
                ng-click='$ctrl.animal = session.animal'
                ng-attr-title='Show sessions for {{session.animal}}'
            ) search

        //- Nest an <a> in each <td> so that the row will be clickable when
        //- combined with some CSS magic
        td(ng-repeat="key in ['name', 'startTime', 'duration', 'sampleCount', 'imagingRate']")
            a.full-width-link(href='/session/{{session.id}}') {{session[key]}}
