div.row
    datepicker.col-xs-6(date-format='{{$ctrl.dateFormat}}' date-max-limit='{{$ctrl.today()}}')
        input.form-control(
            ng-model='$ctrl.dateRange.start'
            placeholder='Date range start'
        )
    datepicker.col-xs-6(date-format='{{$ctrl.dateFormat}}' date-max-limit='{{$ctrl.today()}}')
        input.form-control(
            ng-model='$ctrl.dateRange.end'
            placeholder='Date range end'
        )

input.form-control(ng-model='$ctrl.animal' placeholder='Animal name')

table.table.table-hover.table-striped(infinite-scroll='$ctrl.nextPage()' infinite-scroll-distance='1')
    tr
        th Animal
        th Start Date
        th Duration
        //- th Field of View
        th Run
        th Samples
        th Imaging Rate
    tr(ng-repeat="session in $ctrl.sessions")
        //- Allow the user to click on the session name to find all sessions for that animal
        td.animal-name(
            href='#'
            ng-click='$ctrl.animal = session.animal'
            ng-attr-title='Show sessions for {{session.animal}}'
        ) {{session.animal}}

        //- Nest an <a> in each <td> so that the row will be clickable when
        //- combined with some CSS magic
        td(ng-repeat="key in ['startTime', 'duration', 'run', 'sampleCount', 'imagingRate']")
            a(href='/session/{{session.id}}') {{session[key]}}
