mixin opacityControl(label, model, options)
    div.control
        p: strong(ng-bind=label)
        rzslider(
            rz-slider-model=model
            rz-slider-options=options
        )


mixin subcontrol(label, ngModel)
    small: strong.text-muted= label
    input.form-control(type='number' ng-model=ngModel)

div.control
    p: strong(ng-bind='$ctrl.controls.threshold.label')
    rzslider(
        rz-slider-model='$ctrl.controls.threshold.model.lo'
        rz-slider-high='$ctrl.controls.threshold.model.hi'
        rz-slider-options='$ctrl.controls.threshold.options'
    )

div.threshold-settings
    div.row.subcontrol
        div.col-xs-6
            +subcontrol('Abs. Low', '$ctrl.controls.threshold.options.floor')
        div.col-xs-6
            +subcontrol('Abs. High', '$ctrl.controls.threshold.options.ceil')
    div.row.subcontrol
        div.col-xs-12
            +subcontrol('Step', '$ctrl.controls.threshold.options.step')

+opacityControl(
    '$ctrl.controls.maskOpacity.label',
    '$ctrl.controls.maskOpacity.model',
    '$ctrl.controls.maskOpacity.options'
)

+opacityControl(
    '$ctrl.controls.rawDataOpacity.label',
    '$ctrl.controls.rawDataOpacity.model',
    '$ctrl.controls.rawDataOpacity.options'
)

div.control
    p Current timeline resolution:
        b {{ ' ' + $ctrl.currentResolution + '%' }}

div.control
    form.inspect-timepoint(ng-submit='$ctrl.inspect()')
        input.form-control(type='number' ng-model='$ctrl.currentTimepoint')
        button.btn.btn-default(type='submit') Inspect
