div.control
    p: strong(ng-bind='$ctrl.controls.threshold.label')
    rzslider(
        rz-slider-model='$ctrl.controls.threshold.model.lo'
        rz-slider-high='$ctrl.controls.threshold.model.hi'
        rz-slider-options='$ctrl.controls.threshold.options'
    )

div.control
    p: strong(ng-bind='$ctrl.controls.maskOpacity.label')
    rzslider(
        rz-slider-model='$ctrl.controls.maskOpacity.model'
        rz-slider-options='$ctrl.controls.maskOpacity.options'
    )

div.control
    p: strong(ng-bind='$ctrl.controls.rawDataOpacity.label')
    rzslider(
        rz-slider-model='$ctrl.controls.rawDataOpacity.model'
        rz-slider-options='$ctrl.controls.rawDataOpacity.options'
    )
