md-content: md-card
    md-toolbar.md-menu-toolbar
        div.md-toolbar-tools.session-toolbar-wrapper(layout='row')
            h2 Sessions
            div.filter-container
                md-datepicker.filter(
                    ng-model='$ctrl.filters.startDate'
                    md-min-date='$ctrl.dateBounds.start'
                    md-max-date='$ctrl.dateBounds.end'
                    md-placeholder='Start date'
                )

                md-datepicker.filter(
                    ng-model='$ctrl.filters.endDate'
                    md-min-date='$ctrl.dateBounds.start'
                    md-max-date='$ctrl.dateBounds.end'
                    md-placeholder='End date'
                )

                div.filter
                    md-autocomplete(
                        md-search-text='$ctrl.animalSearchText'
                        md-items='item in $ctrl.animalSearch($ctrl.animalSearchText)'
                        md-selected-item='$ctrl.filters.animal'
                        placeholder='Animal'
                    )
                        md-item-template
                            span(md-highlight-text='$ctrl.animalSearchText' md-highlight-flags='^i')  {{ item }}
                        md-not-found
                            p No animals matching "{{ $ctrl.animalSearchText }}" were found

    table.md-data-table.session-table(infinite-scroll='$ctrl.nextPage()' infinite-scroll-distance='1')
        thead
            tr
                th Animal
                th Name
                th.sorted-column
                    md-icon arrow_upward
                    span Start Date
                th Run
                th Field of View
                th Duration
                th Samples
                th Imaging Rate
        tbody
            tr(ng-repeat="session in $ctrl.sessions")
                td
                    a(href='/session/{{session.id}}') {{session.animal}}

                //- Nest an <a> in each <td> so that the row will be clickable when
                //- combined with some CSS magic
                td(ng-repeat="key in ['name', 'startTime', 'run', 'fov', 'duration', 'sampleCount', 'imagingRate']")
                    a(href='/session/{{session.id}}') {{session[key]}}
