mixin opacityControl(label, model, options)
    div.control
        p: strong(ng-bind=label)
        rzslider.custom-md-slider(
            rz-slider-model=model
            rz-slider-options=options
        )

div.control
    div.thresh-edit-wrapper
        p: strong(ng-bind='$ctrl.controls.threshold.label')
        i.material-icons(ng-click='$ctrl.editThresholdSettings()') mode_edit
    rzslider.custom-md-slider(
        rz-slider-model='$ctrl.controls.threshold.model.lo'
        rz-slider-high='$ctrl.controls.threshold.model.hi'
        rz-slider-options='$ctrl.controls.threshold.options'
    )

+opacityControl(
    '$ctrl.controls.maskOpacity.label',
    '$ctrl.controls.maskOpacity.model',
    '$ctrl.controls.maskOpacity.options'
)

+opacityControl(
    '$ctrl.controls.rawDataOpacity.label',
    '$ctrl.controls.rawDataOpacity.model',
    '$ctrl.controls.rawDataOpacity.options'
)

div
    p.no-spacing Current timeline resolution:
        b {{ ' ' + $ctrl.currentResolution + '%' }}

div.control
    form.inspect-timepoint(ng-submit='$ctrl.inspect()')
        md-input-container
            label Timepoint
            input(type='number' ng-model='$ctrl.currentTimepoint')
        md-button.md-raised(type='submit') Inspect
